<p-menubar [model]="items">
    <div>
        <button (click)="logout()"type="button" pButton class="p-button-danger" label="Cerrar Sesión" icon="pi pi-power-off" style="margin-left:.25em"></button>
    </div>
</p-menubar>
