.dashboard{
  grid-template-columns: 90px 1fr;
  grid-template-rows: 200px 1fr;
}

.header{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: aqua;
}

.sidebar{
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: yellow;
}
