<div class="login-card">
  <div class="login-field">
    <img src="https://picsum.photos/100/100?blur" alt="platform icon" srcset="">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText [(ngModel)]="user.username"/>
      <label for="float-input">Usuario</label>
    </span>
    <span class="p-float-label">
      <input id="float-input" type="password" pInputText [(ngModel)]="user.password">
      <label for="float-input">Contraseña</label>
    </span>
    <button pButton type="button" label="Ingresar" (click)="login()"></button>
  </div>
</div>
