.dashboard{
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 80%;
  height: 100vh;
}

.header{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 1;
}

/* .sidebar{
  grid-row-start: -4;
  grid-column-end: 2;
  grid-row-end: 3;
  background-color: yellow;
} */

.content{
  padding: 30px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
