<div class="dashboard">
  <div class="header">
    <app-header></app-header>
  </div>
  <!-- <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div> -->
  <div class="content"><router-outlet></router-outlet></div>
</div>
