<p-toast></p-toast>

<div class="card">
    <p-table [value]="movie2" dataKey="id" editMode="row" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Calificación</th>
                <th>País</th>
                <th style="width:8rem">
                  <p-button icon="pi pi-plus" label="Agregar" (click)="display()"></p-button>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-movie let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="movie">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="movie.id">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{movie.id}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="movie.titulo" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{movie.titulo}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="statuses" appendTo="body" [(ngModel)]="movie.calificacion" [style]="{'width':'100%'}"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{movie.calificacion}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="movie.pais">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{movie.pais}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(movie)" class="p-button-rounded p-button-text"></button>
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-times" (click)="onRowDelete(movie)" class="p-button-rounded p-button-text"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(movie)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(movie, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
